*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.path-entry__letter {
  width: 4rem;
  height: 4rem;
  font-size: calc(var(--text-base-size) * 1.5);
  font-weight: 500;
  margin: 0;
  text-transform: uppercase;
  text-align: center;
}
.path-entry--active {
  padding: var(--space-xs);
  border-radius: 10px;
  background: hsla(0, 5%, 5%, 0.025);
  position: relative;
  &:before {
    content: "";
    position: absolute;
    left: -2rem;
    width: 0;
    height: 0;
    border-top: 1rem solid transparent;
    border-bottom: 1rem solid transparent;
    border-left: 1rem solid green;
  }
}
.path-entry--active:hover {
  background: hsla(0, 5%, 5%, 0.05);
}

#pageTitle {
  text-align: center;
  display: block;
}

@media (min-width: 1024px) {
  main {
    padding: 0 20%;
  }
}
@media (max-width: 1024px) {
  main {
    padding: 0 10%;
  }
}
@media (max-width: 537px) {
  main {
    padding: 0 5%;
  }
}
.DifferentLetter {
  background-color: #b7d9f5;
}
.CorrectLetter {
  background-color: #b7f5b9;
}

.ChallengeOfTheDay {
  text-align: center;
  display: block;
  margin: auto;
}
.PathTable {
  margin-bottom: 30px;
  table-layout: auto;
  text-align: center;
  vertical-align: middle;
  display: grid;
}
table {
  margin: auto;
}
td {
  text-align: center;
}

fieldset {
  table-layout: auto;
  text-align: center;
  vertical-align: middle;
}

fieldset > .NextWordInputBox {
  margin: auto;
}

.Button {
  width: 100px;
  height: 40px;
}

.LetterBox {
  padding: 0px;
  margin: 3px;
  font-size: 1.5rem;
  border: 1.5px solid grey;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
  width: 3rem;
  height: 3rem;
  border-radius: 10%;
}

td {
  padding: 0px;
  margin: 10px;
}
/* Animation for scrolling letters at top */

.scroller {
  /* display: inline; */
  height: 1.2em;
  line-height: 1.2em;
  position: relative;
  overflow: hidden;
  width: 10em;
}

.scroller > span {
  position: absolute;
  top: 0;
  animation: slide-in 1.5s;
  /* animation-iteration-count: infinite; */
  animation-timing-function: ease;

  font-weight: bold;
}

@keyframes slide-in {
  100% {
    top: 0;
  }
  75% {
    top: -1.2em;
  }
  50% {
    top: -2.4em;
  }
  25% {
    top: -3.6em;
  }
  0% {
    top: -3.6em;
  }
}
